@import "../../../Variables.scss";

.BuscadorBlanco {
  background-color: $Blanco;
}

.buscador {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;

  //.nav {

  input {
    height: 98%;
    width: 500px;
    border-radius: 25px 0 0 25px;
    font-size: 25px;
    padding: 0 2.5%;

    //}
  }

  .InputLigth {
    // border: solid 1px $Negro;
    border: none;
    color: $ColorText;
    box-shadow: 0px 4px 4px rgb(193 193 193 / 19%),
      0px -1px 4px -1px rgb(193 193 193 / 19%);
    margin-bottom: 24px;
  }

  @media screen and (max-width: 600px) {
    input {
      width: 250px;
    }
  }

  .busqueda {
    background-color: $HoumOrange;
    border: none;
    border-radius: 0 25px 25px 0;
    width: 60px;
  }
}
