//Estas son las variables de SASS
/* PASOS para cambiar el color de fondo
1. Crear unas variables con los colores principales del DOM
2. Guardar cada color en la variable
3. Utilizar las variables y reemplazar los colores
*/

$Negro: #373636;
$Blanco: #fff;
$GrisDark: #eadddd;
$GrisLigth: #e7e7e7;

$HoumOrange: #ff5000;
$Border: #e9e9e9;
$Background: #263238;
$ColorText: #616161;
$ColorTitle: #424242;
$ColorButton: #ff452b;
